/*
main-color: #f68f15
main-color-hover: #
*/

html {	
	background: url("../img/bg-img.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

body {
	background: transparent;
	overflow-x: hidden;
}

label {
	cursor: pointer;
}

a:hover, a:active, a:focus, a {
	text-decoration: none;
	color: auto;
}

a:focus {
  outline: 0;
}

.bold {
	font-weight: bold;
}

#wrap {
	min-height: 100%;
	padding-top: 64px;
	margin-bottom: -100px;
	height: auto;
	overflow-y: hidden;
	padding-bottom: 100px;
}

#main-scroll {
	max-height: calc(100vh - 164px);
	overflow-y: hidden;
	position: relative;
}

h5, h4 {
	color: #f68f15;
	margin-bottom: 30px;
	font-weight: bold;
}

/*
 * ANIMATIONS
 */
 
 .view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s;

  display:block;
  width:100%;

  position:absolute;
  top:64px; /* Header height */ 
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
	opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}
 
/*
 * HEDAER
*/

#header {
	position: fixed;
	left: 0;
	top: 0;	
	background: #f68f15;	
	width: 100%;	
	color: #fff;
}

#header .navbar-brand {
	padding: 6px;
}

#header .navbar-brand img {
	max-height: 50px;
}

#header.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 16px;
}

@media (min-width: 1200px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}
	
	@media (max-width: 979px) {
    .btn-navbar {
        display: none;
    }
    .navbar .nav-collapse {
        clear: none;
    }

    .nav-collapse {
        height: auto;
        overflow: auto;
    }

    .navbar .nav {
        float: left;
        margin: 0 10px 0 0;
    }

    .navbar .brand {
        margin-left: -20px;
        padding: 8px 20px 12px;
    }

    .navbar .dropdown-menu:before, .navbar .dropdown-menu:after {
        display: block;
    }

    .navbar .nav > li > a, .navbar .dropdown-menu a {
        border-radius: 0;
        color: #999999;
        font-weight: normal;
        padding: 10px 10px 11px;
    }

    .navbar .dropdown-menu {
        background-clip: padding-box;
        background-color: #FFFFFF;
        border-color: rgba(0, 0, 0, 0.2);
        border-radius: 0 0 5px 5px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        display: none;
        float: left;
        left: 0;
        list-style: none outside none;
        margin: 0;
        min-width: 160px;
        padding: 4px 0;
        position: absolute;
        top: 100%;
        z-index: 1000;
    }

    .navbar-form, .navbar-search {
        border:none;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
        float: left;
        margin-bottom: 0;
        margin-top:6px;
        padding: 9px 15px;
    }

    .navbar .nav.pull-right {
        float: right;
        margin-left: auto;
    }
}

	@media (max-width: 1200px) {
		.navbar-header {
			float: none;
		}
		.navbar-left,.navbar-right {
			float: none !important;
		}
		.navbar-toggle {
			display: block;
		}
		.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		}
		.navbar-fixed-top {
			top: 0;
			border-width: 0 0 1px;
		}
		.navbar-collapse.collapse {
			display: none!important;
		}
		.navbar-nav {
			float: none!important;
			margin-top: 7.5px;
		}
		.navbar-nav>li {
			float: none;
		}
		.navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.collapse.in{
			display:block !important;
		}
	}

	ul.nav li.dropdown:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}
	
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		background-color: #f68f15;
	}

	.dropdown-menu {
		background-color: #f68f15;
	}
	
	.dropdown-menu > li > a{
		color: #fff;
		font-size: 14px;
	}
	
	.dropdown-menu > li > a:hover {
		background-color: rgba(255, 255, 255, 0.3);
		color: #fff;
	}
/*
 * FOOTER
 */
 
footer {
	min-height: 100px;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	display: block;
}

.img-container {
	min-height: 120px;
	display: inline-block;
	vertical-align: center;
}

footer img {
	max-height: 80px;
	max-width: 160px;
	vertical-align: middle;
	display: inline-block;
	
	margin: 0 auto;
}

#footer-links {
	text-align: center;
}
#footer-links a {
	margin-top: 10px;
	height: 80px;
	display: inline-block;
	text-align: center;
}

@media (max-width: 992px )  {
	.logo-aspo-wrapper {
		width:40%;
		height:40%;
		margin-left:30%;
		margin-bottom:20px;
		text-align:center;
	}
}

.logo-aspo-wrapper {
	text-align: center;
}

.logo-aspo {
	width:100%;
	height:100%;
	display: inline-block;
}

.logo-mf {
}

.logo-fri {
	margin-top: 8px;
	margin-bottom: 8px;
}

.logo-ijs {
	margin-top: 20px;
}

.logo-mizs {
	margin-top: 30px;
}

.logo-sklad {
	margin-top: 10px;
}

.logo-eu-sklad {
	margin-top: 20px;
}
	
/*
 * HOME
 */
	#home {
		margin: 0 auto;
		max-width: 940px;
		position: relative;
		text-align: center;
		display: block;
		font-size: 13.5px;
	}
 
	#home h1 {
		padding-top: 15vh;
		font-size: 3.5em;
		font-weight: bold;
	}

	#home h2 {
		font-size: 2.5em;
	}

	#home h1, #home h2 {
		color: #fff;
		text-align: center;
	}
	
	#home .button-border-box {
		margin-top: 10vh;
		background: rgba(0, 0, 0, 0.3);
		padding: 10px;
		border-radius: 2px;
		display: inline-block;
	}
	
	#home .button {
		background: #f68f15;
		display: block;
		border-radius: 2px;
		transition-duration: 0.2s;
		padding: 15px;
	}
	
	#home .button:hover {
		background: #F68F15;
		padding: 20px;
		transition-duration: 0.2s;
	}
	
	#home .button a {
		margin: 15px;
		width: auto;
		color: #fff;
		padding: 20px;
		font-size: 2em;
		letter-spacing: 0.75px;
	}
	
	@media screen and (max-width: 680px) {
		#home h1 {
			padding-top: 10%;
			font-size: 3em;
		}

		#home h2 {
			font-size: 2em;
		}
	
		#home .button a {
			margin: 0;
			padding: 0;
			font-size: 1.6em;
		}
		
		#home .button-border-box {
			margin-bottom: 70px;
		}
	}
	
/*
 *  PAGE SPECIFICS
 */

#page-survey .question-page {
	min-height: 435px;
}

.button-next a {
	margin-left: 20px;
	padding: 20px 40px 20px 40px;
	display: inline-block;
}

.button-next {
	text-align: center;
}

a.list-group-item {
	font-size: 16px;
}

.list-group-item {
	padding: 10px;
}
	
/*
 * SURVEY CAROUSEL OVERRIDES
 */

	/* Hide carousel controls for survey*/
	#survey-questions .carousel-control,
	#survey-questions .carousel-indicators {
		display: none /* Comment for DEBUG */
	}
	
	#page-survey .alert {
		font-size: 18px;
	}
	
/*
 *	SUBPAGES
 */
	h2 {
		color: #fff;
		font-weight: bold;
	}
	
	h2.container {
		padding: 20px 0;
	}
	
	.container h3 {
		color: #f68f15;
		margin-top: 0px;
		font-weight: bold;
		font-size: 28px;
		margin-bottom: 40px;
	}

	.content-block:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background: url("../img/bg-img.jpg") no-repeat center center fixed;
		filter: blur(5px);
		-webkit-filter: blur(6px);
		-moz-filter: blur(6px);
		-o-filter: blur(6px);
		-ms-filter: blur(6px);
		filter: url(#blur);
		filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='6');
	}
	
	.content-block {
		position: relative;
		color: #000;
				
		padding: 50px 0;
		background: rgba(255, 255, 255, 0.9);
		transition: background 0s;
		
		margin-bottom: 100px;
		transition: height ease-in-out 2s;
	}
 
 
	.title {
		text-align: justify; 
		font-size: 40px;
	}

	p {
		line-height: 130%; 
		text-align: justify; 
		margin-top: 8px; 
		margin-bottom: 40px;
		font-size: 18px;
	}
	
	.condoms > img {
		height: 100%;
		width: 100%;
		border-radius: 3px;
		border: 1px solid #dddddd;
	}
	
	#illustration {
		font-size: 10px;
		float: right;
	}
	
	@media screen and (max-width: 1000px) {
		.condoms {
			text-align: center;
		}
		
		.condoms > img {
			height: 50%;
			width: 50%;
			border-radius: 3px;
			border: 1px solid #dddddd;
			margin-bottom: 30px;
		}
		
		#illustration {
			font-size: 10px;
			float: none;
			text-align: center;
			margin-bottom: 0;
		}
	}
	
	.featherlight-content {
		border-radius: 3px;
	}
	
	.featherlight-inner > img {
		border-radius: 3px;
		border: 1px solid #dddddd;
	}
	
	.featherlight-inner > p {
		color: #000;
		margin-top: 15px;
		text-align: center;
		margin-bottom: 0;
	}
	
	#show-image {
		text-align: center;
	}
	
	#warning-title {
		color: #000;
		font-size: 24px;
		text-align: center;
		line-height: 130%;
		font-weight: bold;
		display: block;
	}
	
	#display-warning {
		color: #000;
		font-size: 18px;
		text-align: justify;
		line-height: 130%;
	}
	
	#middle {
		text-align: center;
	}
	
	/* Accordion Heading */
	accordion .panel-group {
		margin-bottom: 40px;
	}
	
	.panel-heading .panel-title {
		color: #2196f3; 
		font-size: 18px;
		font-weight: bold;
	}
	
	ul {
		list-style-type: circle; 
		margin-left: 22px; 
		padding: 0; 
		line-height: 130%; 
		text-align: justify;
		font-size: 18px;
		text-align: justify;
		margin-bottom: 40px;
	}
	
	.hospitalInfo {
		list-style-type: none; 
		padding: 0; 
		margin: 0; 
		line-height: 130%;  
		text-align: justify; 
		font-size: 18px;
		margin-top: 22px;
		margin-bottom: 30px;
	}
	
	.hospitalName {
		font-size: 20px;
		color: #2196f3; 
		line-height: 110%;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	
	.hospitalDescription {
		color: #7F7F7F; 
		line-height: 110%; 
		text-align: justify; 
		font-size: 18px;
		margin-bottom: 0px;
	}
	
	#ulSurvey{
		list-style-type: none; 
		line-height: 130%; 	
		font-size: 20px;
		margin-top: 22px;
		margin-bottom: 30px; 
		margin-left: 0px;
	}
	
	.ng-binding > input {
		display: inline-block;
		float: left;
		margin-top: 7px;
	}
	
	.survey-question {
		margin-top: 0px !important;
		margin-bottom: 35px !important;
		text-align: left;
	}
	
	#button {
		display: inline-block;
	}
	
	.buttons {
		margin-top: 50px;
		text-align: left;
	}
	
/*
 *	CAROUSEL ANIMATION SURVEY
 */

.carousel-inner {
	min-height: 300px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*
 *	BACK TO TOP
 */
 
 .back-to-top {
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	line-height: 50px;
	color: #fff;
	font-size: 40px;
	opacity: 0;
	transition: opacity ease-in-out 0.5s;
	background: #f68f15 url(../img/arrow.png) no-repeat;
	background-position: center;
}

.question-info {
	text-align: justify;
	margin-top: 20px;
	color: #999;
	font-size: 16px;
}

.lightbox-img {
	color: #2196f3
}

.lightbox-img:hover {
	cursor: pointer;
}